.promptcard-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    gap: 30px;
    margin: 25px auto 0;
    width: 100%;
    max-width: 94%;
}

@media (max-width: 1400px) {
    .promptcard-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1100px) {
    .promptcard-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 680px) {
    .promptcard-list {
        grid-template-columns: 1fr;
    }
}